[run]
omit =
    tests/
    ./tests/*
    ./src/gateway/*
    */migrations/*
    settings.py
    asgi.py
    admin.py
    apps.py
    *Interface.py
    */asgi.py
    */wsgi.py
    manage.py
    docker-auxiliar-files/*
    ./docker-auxiliar-files/*
    ./features/*
    tests/*
    features/*
[report]
exclude_lines =
    @abstractmethod
