[run]
omit =
    @abstract
    ./tests/*
    ./src/gateway/*
    */migrations/*
    settings.py
    */asgi.py
    */wsgi.py
    autoatendimento/wsgi.py
    admin.py
    apps.py
    *Interface.py
    manage.py
[report]
exclude_lines =
    @abstract
